body {
  margin: all 0.4s ease;

  $base-color: #c6538c;

  .lorem {
    padding: 4px;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
    cursor: pointer;
    cursor: pointer;
  }
}

$lorem: 4px;
